* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media(min-width:1024px) {
    body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to top, #03141D, #053D57);
        padding: 20px 50px;
    }

    .share-tech-mono-regular {
        font-family: "Share Tech Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #97BCC7;
    }

    .nav-bar-container-cls {
        display: block;
    }

    .menu-container-cls {
        display: none;
    }

    .close-menu-cls {
        display: none;
    }

    .logo-cls {
        font-size: 22px;
        padding-bottom: 5px;
        cursor: pointer;
    }

    .nav-bar-container-cls nav ul {
        display: flex;
        gap: 80px;
        align-items: center;
    }

    .nav-bar-container-cls nav ul {
        list-style: none;
        cursor: pointer;
    }

    .nav-bar-container-cls nav ul li a {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        margin-right: 10px;
    }

    .nav-bar-container-cls nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #97BCC7;
        transition: width ease-in-out;
    }


    .nav-bar-container-cls ul li a.active::after {
        width: 100%;
    }

    .nav-bar-container-cls nav ul li a {
        text-decoration: none;
        color: inherit;
        letter-spacing: 0px;
        font-size: 18px;
    }
}



@media(max-width:768px) {
    body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to top, #03141D, #053D57);
        padding: 20px 25px;
    }

    .share-tech-mono-regular {
        font-family: "Share Tech Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #97BCC7;
    }

    .nav-bar-container-cls {
        height: 100%;
        position: absolute;
        top: 0px;
        right: -100%;
        transition: right 0.5s;
        background-color: #03141D;
        padding: 10px 15px;
        z-index: 2;
        display: none;
    }

    .nav-bar-container-cls nav ul li {
        margin-bottom: 20px;
    }

    .close-menu-cls {
        display: flex;
        justify-content: flex-end;
    }

    .logo-cls {
        font-size: 22px;
        padding-bottom: 5px;
        cursor: pointer;
    }

    .nav-bar-container-cls nav ul {
        display: block;
        gap: 80px;
        align-items: center;
    }

    .nav-bar-container-cls nav ul {
        list-style: none;
        cursor: pointer;
    }

    .nav-bar-container-cls nav ul li a {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        margin-right: 10px;
    }

    .nav-bar-container-cls nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #97BCC7;
        transition: width ease-in-out;
    }


    .nav-bar-container-cls ul li a.active::after {
        width: 100%;
    }

    .nav-bar-container-cls nav ul li a {
        text-decoration: none;
        color: inherit;
        letter-spacing: 0px;
        font-size: 18px;
    }
}